{% extends "base.html" %}

{% block title %}
    TBC Group 2 - Adding Product
{% endblock %}

{% block content %}

    {% if form.errors %}
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.username(class="form-control", placeholder=form.username.label.text) }}
        {{ form.password(class="form-control mt-3", placeholder=form.password.label.text) }}
        {{ form.repeat_password(class="form-control mt-3", placeholder=form.repeat_password.label.text) }}

        {{ form.gender(class="mt-3") }}
        {{ form.birthday(class="form-control mt-3") }}
        {{ form.country(class="form-select mt-3") }}

        {{ form.register(class="btn btn-warning mt-2") }}
    </form>
{% endblock %}